<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <CitiesSkylinesManagedDir>D:\SteamLibrary\steamapps\common\Cities_Skylines\Cities_Data\Managed</CitiesSkylinesManagedDir>
  </PropertyGroup>
</Project>
